@{
    ViewData["Title"] = "Welcome";
}
<div class="pt-5 custom">
    <div class="page-title text-capitalize"><h1>Home</h1></div>

    <div class="card p-3 customcards">
        <div class="text-center">
            <h4 class="display-4" style="font-size:35px;">Welcome to the Azure Application Scheduler page</h4>
        </div>
        <div class="text-left">
            <!--<p>This is the publisher solution.</p>-->
            @if (!this.User.Identity.IsAuthenticated)
            {
                <p> Please sign in to continue.</p>
            }

        </div>
    </div>
   @if (this.User.Identity.IsAuthenticated)
    {
        <div class="pagequicklink text-capitalize"><h3>Quicklinks</h3></div>
        <ul id="homepage-programs">
            <li id="onedash-menu-homepage1">
                <a class="programCardLink text-capitalize" asp-area="" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a>
                <div class="programCard">
                    <div class="programCardContentWrapper">
                        <div class="programCardTitle minline">
                            <div class="programCardIcon1 wrap-win-icon-RecruitmentManagement">
                                <div class="win-icon win-icon-RecruitmentManagement">

                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="25" height="25"
                                    viewBox="0 0 172 172"
                                    style=" fill:#000000;">
                                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M24.08,6.88v158.24h123.84v-114.9175l-0.9675,-1.075l-41.28,-41.28l-1.075,-0.9675zM30.96,13.76h68.8v41.28h41.28v103.2h-110.08zM106.64,18.705l29.455,29.455h-29.455z"></path></g></g>
                                    </svg>

                                </div>
                            </div>
                            <div class="programCardTitleLeft">
                                <h5>Subscriptions</h5>
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="programCardContent">
                        </div>
                        <div class="programCardHelp pull-right">
                        </div>
                    </div>
                </div>
            </li>


            <li id="onedash-menu-homepage5">
                <a class="programCardLink text-capitalize" asp-area="" asp-controller="Scheduler" asp-action="Index">Scheduler</a>
                <div class="programCard">
                    <div class="programCardContentWrapper">
                        <div class="programCardTitle minline">
                            <div class="programCardIcon5 wrap-win-icon-RecruitmentManagement">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#288c00" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                                </svg>

                            </div>
                            <div class="programCardTitleLeft">
                                <h5>Scheduler</h5>

                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="programCardContent">
                        </div>
                        <div class="programCardHelp pull-right">
                        </div>
                    </div>
                </div>
            </li>

        </ul>


        
    }
</div>